body {
    background-image:url("https://www.nexxtsolutions.com/i/trinity/assets/img/background/low_poly_background1.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    
}
p {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 20px 10px 30px white;
    font-size: 1.1em;
}
b {
    font-family: 'Bree Serif', serif;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 20px 10px 30px white;
    font-size: 1.1em;   
}
.ui.center {
    text-align: center;
}
ui.container.center {
    text-align: center;
}
